body{
  font-family: "copperplate", serif;
  margin: 0;
  height: 100vh;
  background-image: url('images/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.st0 {
    fill: #2d6b46;
  }

h1{font-weight:400;
font-style: bold;
color: rgb(45, 107, 70);
  }

h2{
  font-weight:300;
font-style: normal;
color: #2d6b46;
}

.card{
  background-color: rgb(246, 234, 211);
  width: 400px;
  height: 500px;
  margin:auto;
  align-items: center;
}

.text-container{
  margin: 20px;
  margin: top 80px;
  text-align: center;
}

.icon-container{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, .5fr);
  grid-template-rows: auto;
  fill: #2d6b46;
  row-gap: 10px;
  position: relative;
  top: 20px; right: 170px;
}

#logo{
  margin-left:39%;
}
/* Mobile Settings */
@media screen and (min-width: 780px) {
  body {
    background-image: url(images/background-image.png);
  }
}

